@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import './buttons.css';
@import './navbar.css';
@import './backgroud.css';
@import './inputs.css';
@import './position.css';
@import './colors.css';

:root {
    --bg-green:        #0df405;
    --bg-green-hover:  #1c8a00;
    --bg-black:         #000000;
    --bg-marron-1:      #757575;
    --bg-marron-2:      #F4F4F4;
    --bg-white:         #FFFFFF;
    --bg-yellow:        #FCB705;
    --bg-roxo:          #E9008C;
}
html, body {
    font-size: 16px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}